@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="text-align:center">Welcome To Services Section</h1>
<hr/>
<h4 style="text-align:center">Plumber</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/plumber.jpg" class="card-img-top" alt="Sunny Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Pal Plumbing Services</h5>
                    <p class="card-text">Phone No : 99728 15677 </p>
                    <p class="card-text">Rating : 4.6</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/plumber4.jpg" alt="Jeevan Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Modern Plumber</h5>
                    <p class="card-text">Phone No : 98204 73544 </p>
                    <p class="card-text">Rating : 4.9</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/plumber3.jpg" class="card-img-top" alt="Thonexe Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Mohan Plumbers</h5>
                    <p class="card-text">Phone No : 98204 73544 </p>
                    <p class="card-text">Rating : 3.5</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/plumber4.jpg" class="card-img-top" alt="Chaitanya Estate Agency Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Arzaan Pluming Solution</h5>
                    <p class="card-text">Phone No : 969941 4710 </p>
                    <p class="card-text">Rating : 4.7</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<hr/>
<h4 style="text-align:center">Electrician</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/electrician.jpg" class="card-img-top" alt="Sunny Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Sagar Electrician</h5>
                    <p class="card-text">Phone No : 93241 4797 </p>
                    <p class="card-text">Rating : 4.9</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/electrician2.jpg" class="card-img-top" alt="Jeevan Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Mansi Electricals</h5>
                    <p class="card-text">Phone No : 93241 4797 </p>
                    <p class="card-text">Rating : 3.8</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/electrician.jpg" class="card-img-top" alt="Thonexe Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Rajendra Electrician</h5>
                    <p class="card-text">Phone No : 94586 08103 </p>
                    <p class="card-text">Rating : 4.6</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/electrician4.jpg" class="card-img-top" alt="Chaitanya Estate Agency Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">RK Electrical Works</h5>
                    <p class="card-text">Phone No : 98672 27971 </p>
                    <p class="card-text">Rating : 5.0</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h4 style="text-align:center">Maids</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/jhadu.jpg" class="card-img-top" alt="Sunny Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">SM Maid Services</h5>
                    <p class="card-text">Phone No : 77189 08569 </p>
                    <p class="card-text">Rating : 4.9</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/maid2.jpg" class="card-img-top" alt="Jeevan Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Maids Dekho</h5>
                    <p class="card-text">Phone No : 93247 50118 </p>
                    <p class="card-text">Rating : 4.9</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/maid3.jpg" class="card-img-top" alt="Thonexe Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Aradhya Maid Service</h5>
                    <p class="card-text">Phone No : 99672 77035 </p>
                    <p class="card-text">Rating : 4.7</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/maid4.jpg" class="card-img-top" alt="Chaitanya Estate Agency Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">24/7 Maid Solutions</h5>
                    <p class="card-text">Phone No : 82911 38009 </p>
                    <p class="card-text">Rating : 4.1</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h4 style="text-align:center">WiFiProviders</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/wifi1.jpg" class="card-img-top" alt="Sunny Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">My Jio Store</h5>
                    <p class="card-text">Phone No :90827 13817 </p>
                    <p class="card-text">Rating : 3.6</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/wifi2.jpg" class="card-img-top" alt="Jeevan Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Airtel Fiber</h5>
                    <p class="card-text">Phone No : 89762 39472 </p>
                    <p class="card-text">Rating : 4.1</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/wifi3.jpg" class="card-img-top" alt="Thonexe Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Idea Mini Store</h5>
                    <p class="card-text">Phone No :99303 73030 </p>
                    <p class="card-text">Rating : 3.5</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/wifi4.jpg" class="card-img-top" alt="Chaitanya Estate Agency Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Hathway wifi</h5>
                    <p class="card-text">Phone No : 72087 29937 </p>
                    <p class="card-text">Rating : 4.8</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h4 style="text-align:center">Cleaners</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/cleaner.jpg" class="card-img-top" alt="Sunny Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Poonam Cares-Home Cleaning</h5>
                    <p class="card-text">Phone No : 98928 80019 </p>
                    <p class="card-text">Rating : 4.8</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/cleaner2.jpg" class="card-img-top" alt="Jeevan Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Rashmi Cleaning Services</h5>
                    <p class="card-text">Phone No : 98765 43210 </p>
                    <p class="card-text">Rating : 4.9</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/cleaner3.jpg" class="card-img-top" alt="Thonexe Real Estate Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">A Dust Away House Keeping</h5>
                    <p class="card-text">Phone No : 99673 94194 </p>
                    <p class="card-text">Rating : 4.9</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem; margin: 10px;">
                <img src="~/Images/cleaner.jpg" class="card-img-top" alt="Chaitanya Estate Agency Image" width="300" height="200">
                <div class="card-body">
                    <h5 class="card-title">Home Urban Services</h5>
                    <p class="card-text">Phone No : 98765 43210 </p>
                    <p class="card-text">Rating : 4.9</p>
                </div>
            </div>
        </div>
    </div>
</div>

