/* _content/Project/Views/Shared/_Admin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-47tsohfarv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-47tsohfarv] {
  color: #0077cc;
}

.btn-primary[b-47tsohfarv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-47tsohfarv], .nav-pills .show > .nav-link[b-47tsohfarv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-47tsohfarv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-47tsohfarv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-47tsohfarv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-47tsohfarv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-47tsohfarv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Project/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9q8ibpt6yd] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9q8ibpt6yd] {
  color: #0077cc;
}

.btn-primary[b-9q8ibpt6yd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9q8ibpt6yd], .nav-pills .show > .nav-link[b-9q8ibpt6yd] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9q8ibpt6yd] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9q8ibpt6yd] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9q8ibpt6yd] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9q8ibpt6yd] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9q8ibpt6yd] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Project/Views/Shared/_Owner.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-74bnhjs9il] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-74bnhjs9il] {
  color: #0077cc;
}

.btn-primary[b-74bnhjs9il] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-74bnhjs9il], .nav-pills .show > .nav-link[b-74bnhjs9il] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-74bnhjs9il] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-74bnhjs9il] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-74bnhjs9il] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-74bnhjs9il] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-74bnhjs9il] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Project/Views/Shared/_User.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rwkk0qkvaf] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rwkk0qkvaf] {
  color: #0077cc;
}

.btn-primary[b-rwkk0qkvaf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rwkk0qkvaf], .nav-pills .show > .nav-link[b-rwkk0qkvaf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rwkk0qkvaf] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rwkk0qkvaf] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rwkk0qkvaf] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rwkk0qkvaf] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rwkk0qkvaf] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
